@import url("reset.css");
@import url("common.css");
@import url("common.scss");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

:root {
  --header-height: 100px;
  --font: font-family: "Nanum Gothic", sans-serif;
  --title-margin-top: 10rem;
  --tilte-margin-bottom: 6rem;
  --font-en: 16px;
  --font-kr: 32px;
  --color-red: #fe5356;
  --color-orange: #f27249;
}

html, body {
  font-size: 62.5%;
  font-family: "Nanum Gothic", sans-serif;
}

.mobile {
  display: none;
}

.mobile-767 {
  display: none;
}

.style_list_767 {
  display: none;
}

.inner {
  max-width: 1400px;
  width: calc(100% - 40px);
  margin: 10rem auto;
}

.popup {
  width: 550px;
  height: 230px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999999;
  padding: 30px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.08);
}
.popup p {
  font-size: 2rem;
  margin: 15px 0;
}
.popup button {
  width: 130px;
  height: 50px;
  margin-top: 2rem;
  background-color: var(--color-orange);
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
}

.popup_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.4588235294);
  z-index: 88888;
  position: fixed;
  top: 0;
  left: 0;
}
.popup_bg p {
  position: absolute;
  left: -99999999px;
}

.main {
  /* main_visual */
  /* style */
  /* glasses_menu */
  /* hot */
  /* news */
}
.main .main_visual {
  max-width: 100vw;
  margin: 0 auto;
  /* mySwiper */
}
.main .main_visual .mySwiper {
  /* swiper-slide */
}
.main .main_visual .mySwiper .swiper-slide {
  height: 100vh;
}
.main .main_visual .mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_visual .mySwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .main .main_visual .mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.main .main_visual .mySwiper .swiper-pagination-bullet {
  border-radius: 0;
  width: 60px;
}
.main .main_visual .mySwiper .swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}
.main .style {
  margin: var(--title-margin-top) auto;
  /* inner */
}
.main .style .style_inner {
  max-width: 1920px;
  margin: 100px auto;
  overflow: hidden;
  /* title */
  /* list */
}
.main .style .style_inner .title {
  max-width: 1400px;
  width: calc(100% - 30px);
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
}
.main .style .style_inner .title h2 {
  font-size: 23px;
}
.main .style .style_inner .list {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 28px;
}
.main .style .style_inner .list .swiper-slide {
  width: 15.71%;
  animation: swiper-slide 5s linear infinite;
}
.main .style .style_inner .list .swiper-slide > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes swiper-slide {
  100% {
    transform: translateX(-100%);
  }
}
.main .glasses_menu {
  max-width: 100vw;
  margin: 0 auto;
  /* list */
}
.main .glasses_menu .list {
  display: flex;
}
.main .glasses_menu .list .item {
  position: relative;
  width: 25%;
}
.main .glasses_menu .list .item:hover div {
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
}
.main .glasses_menu .list .item:hover figure img {
  transform: scale(1.2);
  transition: 0.5s;
}
.main .glasses_menu .list .item figure {
  margin-top: 10rem;
  height: 100vh;
  overflow: hidden;
}
.main .glasses_menu .list .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .glasses_menu .list .item div {
  width: 49.5%;
  padding: 1.2rem 0;
  display: block;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #333;
  transition: all 1s;
}
.main .glasses_menu .list .item div h3 {
  font-weight: bold;
}
.main .hot .inner {
  /* title */
  /* hot_silde */
}
.main .hot .inner .title {
  position: relative;
  margin-bottom: 6rem;
  /* div */
}
.main .hot .inner .title p {
  font-size: var(--font-en);
  margin-bottom: 3rem;
}
.main .hot .inner .title h4 {
  font-size: var(--font-kr);
}
.main .hot .inner .title div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main .hot .inner .title div p {
  margin: 0;
}
.main .hot .inner .title div button {
  height: 20px;
}
.main .hot .inner .title div button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .hot .inner .hot_slide {
  position: inherit;
  /* swiper-slide */
}
.main .hot .inner .hot_slide .hot_bar {
  bottom: -60px;
}
.main .hot .inner .hot_slide .swiper-slide {
  /* figure */
  /* text */
  /* icon */
}
.main .hot .inner .hot_slide .swiper-slide figure {
  height: 18vw;
  border: 1px solid #333;
}
.main .hot .inner .hot_slide .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .hot .inner .hot_slide .swiper-slide .text {
  margin-top: 2rem;
}
.main .hot .inner .hot_slide .swiper-slide .text h5 {
  font-size: 1.5rem;
  color: #919191;
}
.main .hot .inner .hot_slide .swiper-slide .text h6 {
  font-size: 1.6rem;
  margin: 10px 0 25px 0;
}
.main .hot .inner .hot_slide .swiper-slide .text div {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  font-weight: bold;
}
.main .hot .inner .hot_slide .swiper-slide .text div h7 {
  color: var(--color-orange);
  margin-right: 10px;
}
.main .hot .inner .hot_slide .swiper-slide .icon {
  margin-top: 1.5rem;
}
.main .hot .inner .hot_slide .swiper-slide .icon button {
  width: 46px;
  height: 23px;
  background-color: var(--color-red);
  color: #fff;
  text-align: center;
}
.main .hot .inner .hot_slide .swiper-slide .icon .best {
  background-color: #fff;
  border: 1px solid var(--color-red);
  color: var(--color-red);
}
.main .hot .inner .hot_slide .swiper-pagination-bullet {
  width: 20px;
  margin: 0;
  border-radius: 0;
}
.main .hot .inner .hot_slide .swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}
.main .news {
  position: relative;
  /* inner */
}
.main .news .inner {
  margin-top: 0;
  /* title */
  /* list */
}
.main .news .inner .title {
  position: relative;
  margin-top: 0;
  padding-top: 10rem;
  margin-bottom: var(--tilte-margin-bottom);
}
.main .news .inner .title p {
  font-size: var(--font-en);
  margin-bottom: 3rem;
}
.main .news .inner .title h4 {
  font-size: var(--font-kr);
}
.main .news .inner .title div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main .news .inner .title div p {
  margin: 0;
}
.main .news .inner .title div button {
  height: 20px;
}
.main .news .inner .title div button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .news .inner .list {
  display: flex;
  justify-content: space-between;
  /* item */
}
.main .news .inner .list .item {
  width: 32.57%;
  opacity: 0;
}
.main .news .inner .list .item figure {
  height: 24.71vw;
}
.main .news .inner .list .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .news .inner .list .item.active {
  opacity: 1;
}
.main .news .inner .list .item.on0 {
  transition: 1s;
}
.main .news .inner .list .item.on1 {
  transition: 1s 0.7s;
}
.main .news .inner .list .item.on2 {
  transition: 1s 1.4s;
}
.main .news .inner .list p {
  margin-top: 4rem;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}
.main .news::before {
  content: "";
  width: 100%;
  height: 37.05vh;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: -1;
}

/* main */
@media screen and (max-width: 1240px) {
  .mobile-767 {
    display: none;
  }
  .main .glasses_menu .list .item figure {
    margin-top: 7rem;
  }
  .main .main_visual .mySwiper .swiper-slide {
    padding-top: 7rem;
  }
  .main .style {
    margin: 0;
  }
  .main .glasses_menu .list .item div {
    font-size: 1.6rem;
  }
  .main .glasses_menu .list .item figure {
    height: 70vh;
  }
  .main .hot .inner .title h4 {
    font-size: 2.5rem;
  }
  .main .news .inner .title h4 {
    font-size: 2.5rem;
  }
  .main .news .inner .list p {
    font-size: 1.8rem;
  }
  .main .news::before {
    height: 28.5vh;
  }
} /* 1240px */
@media screen and (max-width: 960px) {
  .main .glasses_menu .list .item div h3 {
    word-break: keep-all;
  }
  .main .main_visual .mySwiper .swiper-slide {
    height: 50vh;
  }
  .main .glasses_menu .list {
    flex-wrap: wrap;
  }
  .main .glasses_menu .list .item {
    height: 50vh;
    overflow: hidden;
  }
  .main .glasses_menu .list .item figure {
    margin-top: 0;
    height: 50vh;
  }
  .main .glasses_menu .list .item {
    width: 50vw;
  }
  .main .news::before {
    height: 22.5vh;
  }
} /* 960px */
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .pc767 {
    display: block !important;
  }
  .mobile-767 {
    display: none !important;
  }
  .mobile-list {
    display: block !important;
  }
  .mobile {
    display: block;
  }
  br {
    display: none;
  }
  .inner {
    max-width: 767px;
    width: calc(100% - 30px);
    margin-top: 5rem auto;
  }
  .style .inner {
    margin: 8rem auto;
  }
  .style .inner .style_list {
    display: none;
  }
  .style .inner .style_list_767 {
    display: block;
  }
  .glasses_menu .mobile {
    /* tab_menu */
    /* list */
  }
  .glasses_menu .mobile h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  .glasses_menu .mobile .tab_menu {
    font-size: 1.5rem;
  }
  .glasses_menu .mobile .tab_menu ul {
    display: flex;
    gap: 1.8rem;
    margin-bottom: 26px;
  }
  .glasses_menu .mobile .tab_menu ul li.on {
    text-decoration: underline;
  }
  .glasses_menu .mobile .mobile_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
    display: none;
    /* item */
  }
  .glasses_menu .mobile .mobile_list.on {
    display: flex;
  }
  .glasses_menu .mobile .mobile_list .item {
    width: 48%;
  }
  .glasses_menu .mobile .mobile_list .item figure {
    height: 40vh;
    border: 1px solid #a6a6a6;
  }
  .glasses_menu .mobile .mobile_list .item figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .glasses_menu .mobile .mobile_list .item div {
    height: 13.39vh;
    margin-top: 15px;
    position: relative;
  }
  .glasses_menu .mobile .mobile_list .item div h6 {
    font-size: 1.8rem;
  }
  .glasses_menu .mobile .mobile_list .item div .pay {
    position: absolute;
    bottom: -65px;
    left: 0;
  }
  .glasses_menu .mobile .mobile_list .item div .pay p {
    color: #cccccc;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: line-through;
  }
  .glasses_menu .mobile .mobile_list .item div .pay h8 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .glasses_menu .mobile button {
    width: 100%;
    margin-top: 25px;
  }
  .glasses_menu .mobile button a {
    width: 18.19vw;
    height: 5.21vh;
    line-height: 5.21vh;
    border: 1px solid #333;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
  }
  /* glasses_menu .mobile */
  .main .hot .inner .title {
    margin-bottom: 3rem;
  }
  .main .hot .inner .title p {
    margin-bottom: 1.5rem;
  }
  .mobile_hot {
    width: 100%;
    /* list */
  }
  .mobile_hot figure {
    height: 52.15vh;
  }
  .mobile_hot figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile_hot .list {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    margin-top: 2rem;
    /* mobile_item */
  }
  .mobile_hot .list .mobile_item {
    width: 48%;
  }
  .mobile_hot .list .mobile_item figure {
    height: 40vh;
    border: 1px solid #a6a6a6;
  }
  .mobile_hot .list .mobile_item figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile_hot .list .mobile_item .text {
    margin-top: 2rem;
  }
  .mobile_hot .list .mobile_item .text h5 {
    font-size: 1.6rem;
  }
  .mobile_hot .list .mobile_item .text h6 {
    margin: 8px 0;
    font-size: 1.8rem;
  }
  .mobile_hot .list .mobile_item .text p {
    color: #cccccc;
    margin-top: 25px;
    font-size: 1.6rem;
    text-decoration: line-through;
  }
  .mobile_hot .list .mobile_item .text div {
    margin-top: 5px;
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .mobile_hot .list .mobile_item .text div h7 {
    margin-right: 5px;
    color: var(--color-orange);
  }
  .mobile_hot button {
    width: 100%;
    margin-top: 5rem;
  }
  .mobile_hot button a {
    width: 18.19vw;
    height: 5.21vh;
    line-height: 5.21vh;
    border: 1px solid #333;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
  }
  /* mobile_hot */
  .main .news .inner .title {
    padding: 0;
  }
  .main .news .inner .title {
    margin-bottom: 3rem;
  }
  .main .news .inner .title p {
    margin-bottom: 1.5rem;
  }
  .main .news::before {
    display: none;
  }
  .main .news .inner {
    margin-bottom: 7rem;
  }
  .mobile_img {
    width: 100%;
  }
  .mobile_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
} /* 767px */
@media screen and (max-width: 480px) {
  .pc767 {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  .mobile-767 {
    display: block !important;
  }
  br {
    display: block;
  }
  .inner {
    margin: 5rem auto;
  }
  .main .main_visual .mySwiper .swiper-slide {
    height: 62.75vh;
    padding-top: 2rem;
  }
  .main .style .style_inner {
    margin: 2.5rem auto;
  }
  .main .style .style_inner .title h2 {
    font-size: 1.7rem;
    margin-right: 5px;
  }
  .main .style .style_inner .title a {
    width: 10px;
    height: 18px;
  }
  .main .style .style_inner .title a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .style .style_inner .list .swiper-slide {
    width: 30%;
  }
  .glasses_menu .mobile .mobile_list .item figure {
    height: 25.33vh;
  }
  .glasses_menu .mobile .mobile_list .item div h6 {
    font-size: 1.4rem;
  }
  .glasses_menu .mobile .mobile_list .item div .pay p {
    font-size: 1.3rem;
  }
  .glasses_menu .mobile button a {
    width: 29.16vw;
  }
  .main .hot .inner .title p {
    display: none;
  }
  .main .hot .inner .title h4 {
    font-size: 2rem;
  }
  .mobile_hot figure {
    height: 41.66vh;
  }
  .mobile_hot .list .mobile_item figure {
    height: 25.33vh;
  }
  .mobile_hot button a {
    width: 29.16vw;
  }
  .mobile_hot button {
    margin-top: 2.5rem;
  }
  .main .news .inner .title h4 {
    font-size: 2rem;
  }
  .main .news .inner .title {
    margin-bottom: 2rem;
  }
} /* 480px */
@media screen and (max-width: 414px) {
  .pc767 {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile_hot figure {
    height: 21.66vh;
  }
  .glasses_menu .mobile .mobile_list .item figure {
    height: 20.33vh;
  }
  .mobile_hot .list .mobile_item figure {
    height: 20.33vh;
  }
  .mobile_hot .list .mobile_item .text h5 {
    font-size: 1.2rem;
  }
  .mobile_hot .list .mobile_item .text h6 {
    font-size: 1.4rem;
  }
  .mobile_hot .list .mobile_item .text p {
    font-size: 1.2rem;
  }
  .mobile_hot .list .mobile_item .text div {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=glasses.css.map */